<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.gadfixvendor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GadfixVendor">
        <activity android:name=".Activities.ServiceUploadDetailsActivity"></activity>
        <activity android:name=".Activities.ProductUploadDetailsActivity" />
        <activity android:name=".Activities.NotificationActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.TicketActivity" />
        <activity android:name=".Activities.UploadActivity" />
        <activity android:name=".Activities.PaymentActivity" />
        <activity android:name=".Activities.HomeActivity" />
        <activity
            android:name=".Dashboard.UserDashboardActivity"
            android:label="@string/title_activity_user_dashboard"
            android:theme="@style/Theme.GadfixVendor.NoActionBar" />
        <activity android:name=".Activities.ForgotPasswordActivity" />
        <activity android:name=".Activities.UserDetailsActivity" />
        <activity android:name=".Activities.OtpVerificationActivity" />
        <activity android:name=".Activities.RegistrationActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.IntroActivity" />
        <activity android:name=".Activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service android:name=".FeatchCurrentLocationAddress" /> <!-- <meta-data -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" />
    </application>

</manifest>